<app-verify-demand-table [domain]="'rolling'"></app-verify-demand-table>
<app-verify-demand-table [domain]="'non-Rolling'"></app-verify-demand-table>



<!-- <div class="row">
  <div class="col-2">
    <h4 class="text-end fw-semibold">Filter:</h4>
  </div>
  <div class="col-3">
    <input type="date" (change)="selectStartDate($event)" class="form-control btn-outline-success btn">
  </div>
  <div class="col-3">
    <input type="date" (change)="selectEndDate($event)" class="form-control btn-outline-success btn">
  </div>
  <div class="col-2">
    <button class="btn btn-primary" (click)="filterDataWithDate()">Submit</button>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" (click)="ResetDates()">Reset</button>
  </div>
</div> -->

<!-- <div class="mt-5">
  <h3 class="text-center">ROLLING DEMAND</h3>
  <hot-table class="hot" [hotId]="id_rolling" [settings]="hotSettings" licenseKey="non-commercial-and-evaluation">
  </hot-table>
</div>


<div class="mt-5">
  <h3 class="text-center">NON ROLLING DEMAND</h3>
  <hot-table class="hot" [hotId]="id_non_rolling" [settings]="hotSettings" licenseKey="non-commercial-and-evaluation">
  </hot-table>
</div> -->